---
layout: base
permalink: /index.html
title: 'Bruchbühne'
description: 'Webseite der Bruchbühne Tübingen'
inszenierungen:
  title: 'Das haben wir schon aufgeführt'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

 {% if reservierung.verkauf %}
    <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        <a href="/reservierung/" class="button">🎟️ Jetzt Karten für {{ reservierung.titel }} reservieren 🎟️</a>
      </p>
      <p>
    </div>
  </article>
      
    {% endif %}

  {# <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        Some text about the group would be nice, so this is just a placeholder.
      </p>
      <p>
    </div>
  </article> #}

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ inszenierungen.title }}</h2>
      {% if inszenierungen.intro %}
        <p>{{ inszenierungen.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
